@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url(/fonts/ptsans-400.woff2) format("woff2");
  font-display: swap;
}
@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url(/fonts/ptsans-700.woff2) format("woff2");
  font-display: swap;
}
html {
  height: 100%;
}
body {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: "PT Sans", sans-serif;
  font-size: 22px;
  line-height: 26px;
  align-items: center;
  color: #333333;
  background-color: #F2F2F2;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.content {
  background-color: #ffffff;
  width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  min-height: 100%;
}
/*навигация*/
.page-header {
  display: flex;
  height: 64px;
}
.logo {
  margin-left: 70px;
  margin-right: 30px;
  position: relative;
}
.navigation {
  display: flex;
  flex-wrap: wrap;
}
.navigation-list {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
  min-width: 339px;
}
.navigation-user {
  margin-left: 285px;
  min-width: 268px;
}
.navigation-user .navigation-link {
  min-width: 12px;
  min-height: 22px;
}
.navigation-link {
  display: block;
  padding: 20px 16px;
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
  color: #000000;
  text-decoration: none;
}
.lefthand {
  padding: 16px 20px;
}
.want {
  margin-top: 14px;
  margin-bottom: 14px;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  color: #ffffff;
  background-color: #756157;
  padding: 8px 34px;
  border-radius: 4px;
}
.main-container {
  flex-grow: 1;
}
.main-index {
  font-size: 18px;
  line-height: 21px;
  text-align: center;
}
.about {
  background-image: url("/images/background/backgroung.jpg");
  background-repeat: no-repeat;
  background-size: 100%  auto;
  background-color: #82B3D3;
  height: 485px;
}
.welcome {
  display: block;
  margin: 0 auto;
  padding-top: 51px;
  padding-bottom: 25px;
}
.about::after {
  background-image: url("/images/level.svg");
  background-repeat: no-repeat;
  display: block;
  background-size: 100% auto;
}
/*приемущества*/
.remake {
  width: 620px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 69px;
  margin-bottom: 25px;
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  color: #000000;
  text-transform: uppercase;
}
.gray {
  width: 651px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 90px;
  font-size: 25px;
  line-height: 26px;
}
/*список*/
.advantages-list {
  margin-top: 21px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style: none;
}
.advantages-item {
  width: 400px;
  min-height: 385px;
}
.index-image {
  width: 230px;
  margin: 100px 85px;
}
.index-columns {
  width: 230px;
  margin: 112.5px 85px;
}
.advantages-title {
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
}
.light-advantages-title {
  color: #000000;
}
.center-advantages-title {
  color: #000000;
}
.turquoise-advantages-item {
  display: flex;
  width: 1200px;
  background-color: #82B3D3;
}
.turquoise-advantages-title {
  color: #ffffff;
}
.turquoise-advantages-description {
  color: #ffffff;
}
.blue-advantages-item {
  background-color: rgba(131, 179, 211, 0.12);
}
.center-advantages-item {
  background-color: rgba(131, 179, 211, 0.2);
}
.lover-advantages-item {
  background-color: #ffffff;
  width: 505px;
  margin-left: auto;
  margin-right: auto;
}
.lover-advantages-title {
  color: #000000;
  font-size: 30px;
  line-height: 36px;
  margin-top: 64px;
  margin-bottom: 20px;
  text-transform: uppercase;
}
.lover-advantages-description {
  font-size: 22px;
  line-height: 26px;
  width: 490px;
  margin-top: 20px;
  margin-bottom: 64px;
  margin-left: auto;
  margin-right: auto;
}
/*особености*/
.features {
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
}
.features-item {
  width: 400px;
  min-height: 385px;
}
.features-title {
  width: 230px;
  margin-top: 183px;
  margin-bottom: 30px;
  margin-left: auto;
  margin-right: auto;
}
.features-description {
  width: 230px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
  margin-bottom: 81px;
}
.edges-features-item {
  background-color: rgba(131, 179, 211, 0.12);
}
.features-title {
  font-size: 24px;
  line-height: 28px;
  color: #000000;
  text-transform: uppercase;
}
.food-features-item {
  background-color: #ffffff;
}
/*сервис*/
.services {
  padding-top: 96px;
  padding-bottom: 96px;
}
.services-title {
  font-size: 30px;
  line-height: 36px;
  color: #000000;
  text-transform: uppercase;
}
.interested {
  width: 592px;
  margin: 0 auto;
}
.services-text {
  font-size: 22px;
  line-height: 26px;
}
.services-link-botton {
  border-radius: 4px;
  font-size: 20px;
  line-height: 36px;
  color: #ffffff;
  background-color: #756157;
  text-decoration: none;
  text-transform: uppercase;
  padding: 8px 50px;
}
.subscribe {
  background-image: url("/images/background/background-1.jpg");
  background-size: 100% auto;
  background-repeat: no-repeat;
  background-color: #82B3D3;
  height: 415px;
  text-align: center;
}
.subscribe-title {
  width: 404px;
  padding-top: 96px;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 20px;
  margin-top: 0;
  margin-bottom: 0;
  font-size: 30px;
  line-height: 36px;
  color: #ffffff;
  text-transform: uppercase;
}
.subscribe-item {
  width: 475px;
  margin-top: 0;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 54px;
  font-size: 22px;
  line-height: 26px;
  color: #ffffff;
}
.subscribe-form {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.box {
  width: 452px;
  border: none;
  border-radius: 4px 0 0 4px;
}
.button-email-btn {
  width: 232px;
  padding: 8px 50px;
  border: none;
  border-radius: 0 4px 4px 0;
  font-size: 20px;
  line-height: 36px;
  text-transform: uppercase;
  background-color: #82B3D3;
  color: #ffffff;
}
/*подвал*/
.footer-socials {
  background-color: #ffffff;
  color: #000000;
  text-align: center;
  list-style: none;
}
.footer-socials-list {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin: 0;
  padding: 0;
}
.footer-socials-item {
  width: 48px;
  height: 40px;
}
.footer-socials-link {
  font-size: 18px;
  line-height: 21px;
  color: #000000;
  text-decoration: none;
}
.footer-contacts {
  display: flex;
  justify-content: space-between;
  flex-wrap: nowrap;
  background-color: #ffffff;
  color: #000000;
  width: 1200px;
  max-height: 120px;
  margin-top: 40px;
  margin-bottom: 35px;
  text-align: center;
}
.footer-contacts-phone {
  margin-right: 194px;
  font-style: normal;
  font-size: 40px;
  line-height: 40px;
  text-decoration: none;
  text-align: center;
  color: #000000;
  width: 331px;
  height: 40px;
  margin-left: 434.5px;
}
.footer-logo {
  padding: 0;
  margin-right: 70px;
}
/*каталог*/
.main-inner {
  font-size: 18px;
  line-height: 21px;
}
/*таблица*/
.accommodations {
  background-image: url("/images/background/background-2.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #82B3D3;
  font-size: 18px;
  line-height: 23px;
  color: #ffffff;
  height: 412px;
}
.inner-header-title {
  margin-top: 0;
  font-size: 60px;
  line-height: 78px;
  font-weight: 700;
  padding-top: 35px;
  margin-bottom: 8px;
  margin-left: 70px;
}
.accomodations-filter {
  display: flex;
  justify-content: space-between;
}
.accomodation-filter-list {
  list-style: none;
  padding-left: 0;
}
.choose {
  list-style: none;
  padding: 0;
  margin: 0;
}
.accomodations-filter-group {
  min-width: 151px;
  height: 157px;
  border: none;
  margin: 0;
  padding: 0;
}
.infrastructure {
  margin-right: 70px;
  padding: 0;
}
.housing {
  margin-right: 167px;
  padding: 0;
}
.cost {
  min-width: 288px;
}
.accomodation-filter-item {
  padding: 0;
  margin-bottom: 16px;
}
.breadcrumbs-item {
  width: 114px;
  margin-left: 70px;
  margin-top: 8px;
  font-size: 16px;
  line-height: 21px;
  list-style: none;
}
.variety {
  margin-top: 40px;
  width: 1060px;
  height: 160px;
  margin-left: 70px;
  margin-right: 70px;
}
.breadcrumbs-link {
  width: 73px;
  text-decoration: none;
  color: #ffffff;
}
.accomodations-filter-title {
  font-size: 20px;
  line-height: 24px;
}
.accomodation-btn {
  color: #ffffff;
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  background-color: #82B3D3;
  text-transform: uppercase;
  text-align: center;
  padding: 8px 50px;
  margin-bottom: 32px;
  border: none;
  border-radius: 4px;
}
.accomodation-btn-reset {
  color: #ffffff;
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  text-transform: uppercase;
  background-color: transparent;
  text-align: center;
  padding: 8px 50px;
  border: none;
  border-radius: 4px;
}
/*поиск*/
.search-result {
  display: flex;
  justify-content: space-between;
  width: 1060px;
  height: 49px;
  margin-top: 50px;
  margin-bottom: 40px;
  margin-left: 70px;
}
.search-result .button-cards {
  width: 48px;
  height: 48px;
  margin-right: 8px;
}
.search-result .button-cards:last-child {
  margin-right: 0;
}
.search-result-title {
  margin-right: 200px;
  width: 338px;
  margin-top: 6.8px;
  margin-bottom: 6.8px;
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  color: #000000;
  text-transform: uppercase;
}
.select-control {
  margin-right: 70px;
  width: 292px;
  border-radius: 4px;
  padding-left: 20px;
  padding-top: 14px;
  padding-bottom: 14px;
  height: 49px;
  font-size: 18px;
  line-height: 21px;
  color: #333333;
}
.button-cards {
  text-decoration: none;
  color: #000000;
}
/*список гостиниц*/
.search-result-card {
  display: block;
}
.search-result-list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 1060px;
  margin-bottom: 40px;
  margin-left: 70px;
  padding: 0;
  list-style: none;
}
.search-result-item {
  margin-bottom: 20px;
  width: 340px;
  height: 438px;
  border-radius: 4px;
}
.search-result-img {
  margin: 20px 20px 16px 20px;
}
.search-result-hotel {
  width: 300px;
  height: 28px;
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 0;
  margin-bottom: 0;
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
  color: #000000;
}
.price {
  display: flex;
  justify-content: space-between;
  width: 300px;
  padding: 0;
  margin-right: 20px;
  margin-left: 20px;
}
.search-result-price {
  font-size: 18px;
  line-height: 21px;
  text-align: right;
  color: #333333;
}
.detailed {
  display: flex;
  justify-content: space-between;
  margin-left: 20px
}
.button-search-result {
  width: 88px;
  margin-right: 20px;
  padding: 8px 26px;
  border-radius: 4px;
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  text-align: center;
  color: #ffffff;
  text-transform: uppercase;
  background-color: #756157;
  text-decoration: none;
}
.button {
  width: 140px;
  border: none;
  border-radius: 4px;
  margin-right: 20px;
  padding: 8px 20px;
  font-size: 16px;
  line-height: 21px;
  font-weight: 700;
  text-align: center;
  color: #ffffff;
  background-color: #82B3D3;
  text-transform: uppercase;
}
.rating-text {
  font-size: 16px;
  line-height: 20px;
  text-align: right;
  margin-right: 20px;
  margin-left: 180px;
  padding: 9px 22px;
  border-radius: 4px;
  margin-top: 20px;
  width: 96px;
  color: #333333;
  background-color: #F2F2F2;
  text-transform: uppercase;
}
/* пагинация */
.pagination {
  margin: 0;
  padding: 0;
  background-color: #ffffff;
}
.pagination-row {
  display: flex;
  gap: 8px;
  margin-top: 80px;
  margin-bottom: 40px;
  margin-left: 70px;
  width: 1060px;
}
.pagination-item {
  width: 60px;
  height: 60px;
  text-align: center;
  list-style: none;
}
.pagination-link {
  display: block;
  box-sizing: border-box;
  font-size: 20px;
  line-height: 36px;
  font-weight: 700;
  color: #ffffff;
  background-color: #82B3D3;
  text-decoration: none;
  padding: 11px 23px;
}
.pagination-current {
  color: #000000;
  background-color: #F2F2F2;
}
.main-subscribe {
  background-color: #ffffff;
  height: 415px;
  text-align: center;
}
.main-subscribe-caption {
  width: 404px;
  padding-top: 96px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
  font-size: 30px;
  line-height: 36px;
  color: #000000;
  text-transform: uppercase;
}
.main-subscribe-text {
  width: 475px;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 54px;
  font-size: 22px;
  line-height: 26px;
}
.subscribe-form {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.box {
  width: 452px;
  border: none;
  border-radius: 4px 0 0 4px;
  background-color: #F2F2F2;
}
.button-email-btn {
  width: 232px;
  padding: 8px 50px;
  border: none;
  border-radius: 0 4px 4px 0;
  font-size: 20px;
  line-height: 36px;
  text-transform: uppercase;
  background-color: #82B3D3;
  color: #ffffff;
}
