@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url(/fonts/ptsans-400.woff2) format("woff2");
  font-display: swap;
}
@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url(/fonts/ptsans-700.woff2) format("woff2");
  font-display: swap;
}
html {
  height: 100%;
}
body {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: "PT Sans", sans-serif;
  font-size: 22px;
  line-height: 26px;
  align-items: center;
  color: #333333;
  background-color: #F2F2F2;
}
.content {
  background-color: #ffffff;
  width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  min-height: 100%;
}
/*навигация*/
.page-header {
  display: flex;
}
.navigation-logo {
  display: flex;
  margin-left: 70px;
  margin-right: 30px;
}
.navigation {
  display: flex;
}
.navigation-list {
  list-style: none;
  display: flex;
  justify-content: space-between;
  min-width: 339px;
}
.navigation-link {
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
  color: #000000;
  text-decoration: none;
}
.want {
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  color: #ffffff;
  background-color: #756157;
}
.main-container {
  flex-grow: 1;
}
.main-index {
  font-size: 18px;
  line-height: 21px;
  text-align: center;
}
.about {
  background-image: url("/images/background/backgroung.jpg");
  background-repeat: no-repeat;
  background-size: 100%  auto;
  background-color: #82B3D3;
}
/*приемущества*/
.remake {
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  color: #000000;
  text-transform: uppercase;
}
.gray {
  font-size: 22px;
  line-height: 26px;
}
/*список*/
.advantages-list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style: none;
}
.advantages-item {
  width: 400px;
  min-height: 385px;
}
.index-image {
  width: 230px;
  margin: 102px 85px;
}
.index-columns {
  width: 230px;
  margin: 112.5px 85px;
}
.advantages-title {
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
}
.light-advantages-title {
  color: #000000;
}
.center-advantages-title {
  color: #000000;
}
.turquoise-advantages-item {
  display: flex;
  width: 1200px;
  background-color: #82B3D3;
}
.turquoise-advantages-title {
  color: #ffffff;
}
.turquoise-advantages-description {
  color: #ffffff;
}
.blue-advantages-item {
  background-color: rgba(131, 179, 211, 0.12);
}
.center-advantages-item {
  background-color: rgba(131, 179, 211, 0.2);
}
.lover-advantages-item {
  background-color: #ffffff;
  width: 505px;
  margin-left: 347.5px;
}
.lover-advantages-title {
  color: #000000;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
}
.lover-advantages-description {
  font-size: 22px;
  line-height: 26px;
}
/*особености*/
.features {
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
}
.features-item {
  width: 400px;
  min-height: 385px;
}
.features-text {
  width: 230px;
  padding: 81px 85px;
}
.edges-features-item {
  background-color: rgba(131, 179, 211, 0.12);
}
.features-title {
  font-size: 24px;
  line-height: 28px;
  color: #000000;
  text-transform: uppercase;
}
.food-features-item {
  background-color: #ffffff;
}
/*сервис*/
.services {
  padding-top: 96px;
  padding-bottom: 96px;
}
.services-title {
  font-size: 30px;
  line-height: 36px;
  color: #000000;
  text-transform: uppercase;
}
.interested {
  width: 592px;
  margin: 0 auto;
}
.services-text {
  font-size: 22px;
  line-height: 26px;
}
.services-link-botton {
  font-size: 20px;
  line-height: 36px;
  color: #ffffff;
  background-color: #756157;
  text-decoration: none;
  text-transform: uppercase;
  padding: 8px 50px;
}
.subscribe {
background-image: url("/images/background/background-1.jpg");
background-size: 100% auto;
background-repeat: no-repeat;
background-color: #82B3D3;
}
.subscribe-title {
  font-size: 30px;
  line-height: 36px;
  color: #ffffff;
  text-transform: uppercase;
}
.subscribe-item {
  font-size: 22px;
  line-height: 26px;
  color: #ffffff;
}
.button-email-btn {
  font-size: 20px;
  line-height: 36px;
  text-transform: uppercase;
  background-color: #82B3D3;
  color: #ffffff;
}
/*подвал*/
.page-footer {
  background-color: #ffffff;
  color: #000000;
}
.footer-socials-items {
  list-style: none;
}
.footer-socials-link {
  font-size: 40px;
  line-height: 40px;
  color: #000000;
  text-decoration: none;
}
.footer-contacts-phone {
  font-style: normal;
  font-size: 40px;
  line-height: 40px;
  text-decoration: none;
  text-align: center;
  color: #000000;
}
.footer-container {
  width: 1200px;
  display: flex;
  margin: 0 auto;
}
.footer-contacts-phone {
  display: flex;
  width: 331px;
  margin-left: 434.5px;
}
.footer-logo {
  display: flex;
  margin-left: 1015px;
}
/*каталог*/
.main-inner {
  font-size: 18px;
  line-height: 21px;
}
.accommodations {
  background-image: url("/images/background/background-2.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #82B3D3;
  font-size: 18px;
  line-height: 23px;
  color: #ffffff;
}
.inner-header-title {
font-size: 60px;
line-height: 78px;
font-weight: 700;
}
.accomodations-filter {
  display: flex;
  justify-content: space-between;
  width: 150px;
  margin-right: 70px;

}
.accomodation-filter-list {
  list-style: none;
}
.choose {
  list-style: none;
}
.accomodations-filter-group {
  width: 150px;
  margin-right: 140px;
}
.breadcrumbs-item {
  font-size: 16px;
  line-height: 21px;
}
.breadcrumbs-link {
  text-decoration: none;
  color: #ffffff;
}
.accomodations-filter-title {
  font-size: 20px;
  line-height: 24px;
}
.accomodation-btn {
  color: #ffffff;
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  background-color: #82B3D3;
  text-transform: uppercase;
  text-align: center;
}
.accomodation-btn-reset {
  color: #ffffff;
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  text-transform: uppercase;
  background-color: transparent;
  text-align: center;
}
.search-result {
  display: flex;
  justify-content: space-between;
  width: 1060px;
  margin-left: 70px;
}

.search-result-title {
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  color: #000000;
  text-transform: uppercase;
}
.select-control {
  font-size: 18px;
  line-height: 21px;
  color: #333333;
}
.button-cards {
  text-decoration: none;
  color: #000000;
}
/*список гостиниц*/
.search-result-list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 1060px;
  margin: 0 auto;
  padding: 0;
  list-style: none;
}
.search-result-item {
  width: 340px;

}
.search-result-hotel {
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
  color: #000000;

}
.search-result-price {
  font-size: 18px;
  line-height: 21px;
  text-align: right;
  color: #333333;
}
.button-search-result {
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  text-align: center;
  color: #ffffff;
  text-transform: uppercase;
  background-color: #756157;
  text-decoration: none;
}
.button {
  font-size: 16px;
  line-height: 21px;
  font-weight: 700;
  text-align: center;
  color: #ffffff;
  background-color: #82B3D3;
  text-transform: uppercase;
}
.rating-text {
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  color: #333333;
  background-color: #F2F2F2;
  text-transform: uppercase;
}
/* пагинация */
.pagination {
  background-color: #ffffff;
}
.pagination-rows{
  display: flex;

  width: 1060px;
  margin-left: 70px;
}
.pagination-row {
  display: flex;
  margin-left: 70px;

}
.pagination-item {
  width: 60px;
  list-style: none;
}
.pagination-link {
  font-size: 20px;
  line-height: 36px;
  font-weight: 700;
  color: #ffffff;
  background-color: #82B3D3;
  text-decoration: none;
}
.pagination-current {
  color: #000000;
  background-color: #F2F2F2;
}
.main-subscribe {
  text-align: center;
  margin: 258px;
  width: 684px;

}
