@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url(/fonts/ptsans-400.woff2) format("woff2");
  font-display: swap;
}
@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url(/fonts/ptsans-700.woff2) format("woff2");
  font-display: swap;
}
html {
  height: 100%;
}
body {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: "PT Sans", sans-serif;
  font-size: 22px;
  line-height: 26px;
  align-items: center;
  color: #333333;
  background-color: #F2F2F2;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.content {
  background-color: #ffffff;
  width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  min-height: 100%;
}
/*навигация*/
.page-header {
  display: flex;
  height: 64px;
}
.logo {
  cursor: pointer;
  margin-left: 70px;
  margin-right: 30px;
  position: relative;
}
.navigation {
  display: flex;
  flex-wrap: wrap;
}
.navigation-list {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
  min-width: 339px;
}
.navigation-user {
  margin-left: 285px;
  min-width: 268px;
}
.navigation-user .navigation-link {
  min-width: 12px;
  min-height: 22px;
}
.navigation-user .navigation-items:nth-child(1) .navigation-link {
  background-image: url("/images/icons/search.svg");
  background-repeat: no-repeat;
  background-position: center;
}
.navigation-user .navigation-items:nth-child(2) .navigation-link {
  background-image: url("/images/icons/heart.svg");
  background-repeat: no-repeat;
  background-position: center;
}
.navigation-link {
  position: relative;
  display: block;
  padding: 20px 16px;
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
  color: #000000;
  text-decoration: none;
  cursor: pointer;
}
.lefthand::before {
  content: "";
  position: absolute;
  width: 68px;
  bottom: 0;
  border-bottom: 2px solid #756257;
}
.navigation-items {
  position: relative;
}
.navigation-like::before {
  content: "12";
  position: absolute;
  padding: 5px;
  bottom: 35px;
  right: 2px;
  background-color: #7DB54F;
  border-radius: 50%;
  color: #ffffff;
  font-size: 10px;
  line-height: 10px;
  z-index: 1;
}
.want {
  margin-left: 20px;
  margin-top: 14px;
  margin-bottom: 14px;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  color: #ffffff;
  background-color: #756157;
  padding: 8px 34px;
  border-radius: 4px;
  cursor: pointer;
}
.btn:hover,
.btn:focus {
  background-color: rgba(97, 80, 72, 1);
}
.btn:active {
  background-color: rgba(117, 97, 87, 1);
}
.btn:disabled {
  background-color: rgba(229, 229, 229, 1);
}
/*меню*/
.main-container {
  flex-grow: 1;
}
.main-index {
  font-size: 18px;
  line-height: 21px;
  text-align: center;
}
.about {
  background-image: url("/images/background/backgroung.jpg");
  background-repeat: no-repeat;
  background-size: 100%  auto;
  background-color: #82B3D3;
  height: 485px;
}
.welcome {
  display: block;
  margin: 0 auto;
  padding-top: 51px;
  padding-bottom: 25px;
}
.about::after {
  content: "";
  background-image: url("/images/level.svg");
  background-repeat: no-repeat;
  display: block;
  background-size: 100% auto;
  height: 57px;
}
/*приемущества*/
.remake {
  width: 620px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 69px;
  margin-bottom: 25px;
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  color: #000000;
  text-transform: uppercase;
}
.gray {
  width: 651px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 90px;
  font-size: 25px;
  line-height: 26px;
}
/*список*/
.advantages-list {
  margin-top: 21px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style: none;
}
.advantages-item {
  width: 400px;
  min-height: 385px;
}
.advantages-description {
  margin: 0;
}
.index-image {
  width: 230px;
  margin: 100px 85px;
}
.center-advantages-description {
  padding-left: 85px;
  padding-right: 85px;
  padding-bottom: 112.5px;
}
.advantages-title {
  margin: 0;
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
}
.light-advantages-title {
  padding-top: 112.5px;
  padding-left: 112.5px;
  padding-right: 112.5px;
  color: #000000;
}
.turquoise-advantages-title::after {
  display: block;
  content: "";
  width: 60px;
  margin: 0 auto;
  margin-top: 30px;
  margin-bottom: 30px;
  border-bottom: 2px solid rgba(255, 255, 255, 0.3);
}
.light-advantages-title::after {
  display: block;
  content: "";
  width: 60px;
  margin: 0 auto;
  margin-top: 30px;
  margin-bottom: 30px;
  border-bottom: 2px solid rgba(0, 0, 0, 0.3);
}
.center-advantages-title {
  color: #000000;
  padding-top: 112.5px;
  padding-left: 112.5px;
  padding-right: 112.5px;
}
.turquoise-advantages-item {
  display: flex;
  width: 1200px;
  background-color: #82B3D3;
}
.turquoise-advantages-title {
  color: #ffffff;
}
.turquoise-advantages-description {
  color: #ffffff;
}
.blue-advantages-item {
  background-color: rgba(131, 179, 211, 0.12);
}
.center-advantages-item {
  background-color: rgba(131, 179, 211, 0.2);
}
.lover-advantages-item {
  background-color: #ffffff;
  width: 505px;
  margin-left: auto;
  margin-right: auto;
}
.lover-advantages-title {
  color: #000000;
  font-size: 30px;
  line-height: 36px;
  margin-top: 64px;
  margin-bottom: 20px;
  text-transform: uppercase;
}
.lover-advantages-description {
  font-size: 22px;
  line-height: 26px;
  width: 490px;
  margin-top: 20px;
  margin-bottom: 64px;
  margin-left: auto;
  margin-right: auto;
}
/*особености*/
.features {
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
}
.features-item {
  background-position: 50% 81px;
  background-repeat: no-repeat;
  width: 400px;
  min-height: 385px;
}
.features-title {
  width: 230px;
  margin-top: 183px;
  margin-bottom: 30px;
  margin-left: auto;
  margin-right: auto;
}
.features-description {
  width: 230px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
  margin-bottom: 81px;
}
.edges-features-item:nth-child(1) {
  background-image: url("/images/icons/Advantage-icon.svg");
  background-color: rgba(131, 179, 211, 0.12);
}
.food-features-item {
  background-image: url("/images/icons/Advantage-icon1.svg");
}
.edges-features-item:nth-child(3) {
  background-image: url("/images/icons/Advantage-icon-2.svg");
  background-color: rgba(131, 179, 211, 0.12);
}
.features-title {
  font-size: 24px;
  line-height: 28px;
  color: #000000;
  text-transform: uppercase;
}
.food-features-item {
  background-color: #ffffff;
}
/*сервис*/
.services {
  padding-top: 96px;
  padding-bottom: 96px;
}
.services-title {
  font-size: 30px;
  line-height: 36px;
  color: #000000;
  text-transform: uppercase;
}
.interested {
  width: 592px;
  margin: 0 auto;
}
.services-text {
  font-size: 22px;
  line-height: 26px;
}
.services-link-botton {
  border-radius: 4px;
  font-size: 20px;
  line-height: 36px;
  color: #ffffff;
  background-color: #756157;
  text-decoration: none;
  text-transform: uppercase;
  padding: 8px 50px;
  cursor: pointer;
}
.subscribe {
  background-image: url("/images/background/background-1.jpg");
  background-size: 100% auto;
  background-repeat: no-repeat;
  background-color: #82B3D3;
  height: 415px;
  text-align: center;
}
.subscribe-title {
  width: 404px;
  padding-top: 96px;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 20px;
  margin-top: 0;
  margin-bottom: 0;
  font-size: 30px;
  line-height: 36px;
  color: #ffffff;
  text-transform: uppercase;
}
.subscribe-item {
  width: 475px;
  margin-top: 0;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 54px;
  font-size: 22px;
  line-height: 26px;
  color: #ffffff;
}
.subscribe-form {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.box {
  width: 452px;
  border: none;
  border-radius: 4px 0 0 4px;
}
.button-email-btn {
  width: 232px;
  padding: 8px 50px;
  border: none;
  border-radius: 0 4px 4px 0;
  font-size: 20px;
  line-height: 36px;
  text-transform: uppercase;
  background-color: #82B3D3;
  color: #ffffff;
  cursor: pointer;
}
.button-email-btn:hover,
.accomodation-btn:hover,
.button:hover,
.button-email-btn:focus,
.accomodation-btn:focus,
.button:focus {
  background-color: rgba(104, 162, 202, 1);
}
.button-email-btn:active,
.accomodation-btn:active,
.button:active {
background-color: rgba(130, 179, 211, 1);
}
.button-email-btn:disabled,
.accomodation-btn:disabled,
.button:disabled {
  background-color: rgba(229, 229, 229, 1);
}
/*подвал*/
.page-footer {
  display: flex;
  justify-content: space-between;
  width: 1200px;
  height: 120px;
  background-color: #ffffff;
  color: #000000;
  list-style: none;
}
.footer-socials-list {
  display: flex;
  width: 142px;
  list-style: none;
  margin-left: 70px;
  margin-right: 41.5px;
  margin-top: 40px;
  margin-bottom: 35px;
  padding: 0;
}
.footer-socials-item {
  max-width: 48px;
  max-height: 40px;
  padding: 12px;
}
.footer-socials-link {
  font-size: 18px;
  line-height: 21px;
  color: #000000;
  text-decoration: none;

}
.footer-socials-link:hover .socials-icon,
.footer-socials-link:focus .socials-icon {
  fill: #68A2CA;
}
.footer-socials-link:active .socials-icon {
  fill: rgba(104, 162, 202, 0.3);
}
.footer-contacts {
  display: flex;
  background-color: #ffffff;
  color: #000000;
  margin-top: 40px;
  margin-bottom: 35px;
  text-align: center;
}
.footer-contacts-phone {
  font-style: normal;
  font-size: 40px;
  line-height: 40px;
  text-decoration: none;
  text-align: center;
  color: #000000;
}
.footer-contacts-phone:hover {
  color: #756157;
}
.footer-contacts-phone:focus {
  color: #756157
}
.footer-contacts-phone:active {
  color: rgba(117, 97, 87, 0.3);
}
.footer-contacts-phone-address {
  width: 720px;
  margin-right: 41.5px;
}
.footer-logo {
  display: flex;
  align-items: center;
  width: 115px;
  margin-right: 70px;
  margin-top: 8.5px;
}
.footer-contacts-link:hover .footer-logo,
.footer-contacts-link:focus .footer-logo {
  fill: #756157;
}
.footer-contacts-link:active .footer-logo {
  fill: rgba(117, 97, 87, 0.3);
}
/*каталог*/
.main-inner {
  font-size: 18px;
  line-height: 21px;
}
/*таблица*/
.accommodations {
  background-image: url("/images/background/background-2.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #82B3D3;
  font-size: 18px;
  line-height: 23px;
  color: #ffffff;
  height: 412px;
}
.inner-header-title {
  margin-top: 0;
  font-size: 60px;
  line-height: 78px;
  font-weight: 700;
  padding-top: 35px;
  margin-bottom: 8px;
  margin-left: 70px;
}
.accomodations-filter {
  display: flex;
  justify-content: space-between;
}
.accomodation-filter-list {
  list-style: none;
  padding-left: 0;
}
.choose {
  list-style: none;
  padding: 0;
  margin: 0;
}
.accomodations-filter-group {
  min-width: 151px;
  height: 157px;
  border: none;
  margin: 0;
  padding: 0;
}
.infrastructure {
  margin-right: 70px;
  padding: 0;
}
.housing {
  margin-right: 167px;
  padding: 0;
}
.cost {
  min-width: 288px;
}
.accomodation-filter-item {
  padding: 0;
  margin-bottom: 16px;
}
.breadcrumbs {
  padding: 0;
}
.breadcrumbs-item {
  min-width: 114px;
  margin-left: 70px;
  margin-top: 8px;
  font-size: 16px;
  line-height: 21px;
  list-style: none;
}
.home {
  margin-right: 11.3px;
}
.forward {
  margin-right: 10.8px;
}
.hotels:hover {
  color: rgba(255, 255, 255, 0.6);
}
.hotels:focus {
  color: rgba(255, 255, 255, 1);
}
.hotels:active {
  color: rgba(255, 255, 255, 0.3);
}
.variety {
  margin-top: 40px;
  width: 1060px;
  height: 160px;
  margin-left: 70px;
  margin-right: 70px;
}
.breadcrumbs-link {
  width: 73px;
  text-decoration: none;
  color: #ffffff;
}
.accomodations-filter-title {
  font-size: 20px;
  line-height: 24px;
}
.accomodation-btn {
  color: #ffffff;
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  background-color: #82B3D3;
  text-transform: uppercase;
  text-align: center;
  padding: 8px 50px;
  margin-bottom: 32px;
  border: none;
  border-radius: 4px;
}
.accomodation-btn-reset {
  color: #ffffff;
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  text-transform: uppercase;
  background-color: transparent;
  text-align: center;
  padding: 8px 50px;
  border: none;
  border-radius: 4px;
}
.accomodation-btn-reset:hover {
  background-color: transparent;
  color: rgba(255, 255, 255, 0.6);
}
.accomodation-btn-reset:focus {
  border: 3px solid #83B3D3;
  border-radius: 4px;
  color: #ffffff;
}
.accomodation-btn-reset:active,
.accomodation-btn-reset:disabled {
  border-radius: 4px;
  color: rgba(255, 255, 255, 1);
}
/*поиск*/
.search-result {
  display: flex;
  justify-content: space-between;
  width: 1060px;
  height: 49px;
  margin-top: 50px;
  margin-bottom: 40px;
  margin-left: 70px;
}
.search-result .button-cards {
  width: 48px;
  height: 48px;
  margin-right: 8px;
}
.search-result .button-cards:last-child {
  margin-right: 0;
}
.search-result-title {
  margin-right: 200px;
  width: 338px;
  margin-top: 6.8px;
  margin-bottom: 6.8px;
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  color: #000000;
  text-transform: uppercase;
}
.select-control {
  margin-right: 70px;
  width: 292px;
  border-radius: 4px;
  padding-left: 20px;
  padding-top: 14px;
  padding-bottom: 14px;
  height: 49px;
  font-size: 18px;
  line-height: 21px;
  color: #333333;
}
.select-control:hover,
.select-control:focus {
  border-color: #68A2CA;
}
.select-control:active {
  border-color: #3F5E72;
}
.select-control:disabled {
  border-color: rgba(0, 0, 0, 0.3);
  color: rgba(0, 0, 0, 0.3);
}
.tile {
  background-image: url("/images/icons/tile.svg");
  background-repeat: no-repeat;
  background-position: center;
  border: 2px solid rgba(229, 229, 229, 1);
  border-radius: 4px;
}
.tile:hover,
.tile:active,
.open:hover,
.open:active,
.list:hover,
.list:active {
  border: 2px solid rgba(0, 0, 0, 1);
}
.tile:focus,
.open:focus,
.list:focus {
  border: 2px solid rgba(104, 162, 202, 1);
}
.open {
  background-image: url("/images/icons/open.svg");
  background-repeat: no-repeat;
  background-position: center;
  border: 2px solid rgba(229, 229, 229, 1);
  border-radius: 4px;
}
.list {
  background-image: url("/images/icons/list.svg");
  background-repeat: no-repeat;
  background-position: center;
  border: 2px solid rgba(229, 229, 229, 1);
  border-radius: 4px;
}
/*список гостиниц*/
.search-result-list {
  display: grid;
  grid-template-columns: repeat(3, 340px);
  gap: 20px;
  width: 1060px;
  margin: 0 auto;
  margin-bottom: 40px;
  padding: 0;
  list-style: none;
}
.search-result-item {
  display: grid;
  grid-template-rows: 212px min-content auto min-content min-content;
  grid-template-columns: 140px 140px;
  column-gap: 20px;
  border-radius: 4px;
  padding-left: 20px;
  padding-right: 20px;
  margin-top: 20px;
  margin-bottom: 20px;
}
.search-result-card {
  grid-column: 1 / 3;
}
.search-result-hotel {
  width: 300px;
  grid-column: 1 / 3;
  margin-top: 16px;
  margin-bottom: 0;
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
  color: #000000;
}
.search-result-desc,
.button-search-result,
.stars {
  grid-column: 1 / 2;
  margin-top: 16px;
  margin-bottom: 0;
}
.search-result-price,
.button,
.button-pressed,
.rating-text {
  grid-column: 2/3;
  margin-top: 16px;
  margin-bottom: 0;
}
.search-result-price {
  width: 140px;
  font-size: 18px;
  line-height: 21px;
  text-align: right;
  color: #333333;
}
.button-search-result {
  width: 88px;
  padding: 8px 26px;
  border-radius: 4px;
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  text-align: center;
  color: #ffffff;
  text-transform: uppercase;
  background-color: #756157;
  text-decoration: none;
}
.button {
  width: 140px;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  line-height: 21px;
  font-weight: 700;
  text-align: center;
  color: #ffffff;
  background-color: #82B3D3;
  text-transform: uppercase;
}
.button-pressed {
  width: 140px;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  line-height: 21px;
  font-weight: 700;
  text-align: center;
  color: #ffffff;
  background-color: #7DB54F;
  text-transform: uppercase;
}
.button-pressed:hover,
.button-pressed:focus {
  background-color: rgba(108, 158, 66, 1);
}
.button-pressed:active {
  background-color: rgba(125, 181, 79, 1);
}
.button-pressed:disabled {
  background-color: rgba(229, 229, 229, 1);
}
.rating-text {
  font-size: 16px;
  line-height: 20px;
  text-align: right;
  padding: 9px 22px;
  border-radius: 4px;
  width: 96px;
  color: #333333;
  background-color: #F2F2F2;
  text-transform: uppercase;
}
.star-2 {
  background-image: url("/images/icons/star.svg");
  background-repeat: repeat-x;
  background-position: 0;
  width: 36px;
}
.star-3 {
  background-image: url("/images/icons/star.svg");
  background-repeat: repeat-x;
  background-position: 0;
  width: 54px;
}
.star-4 {
  background-image: url("/images/icons/star.svg");
  background-repeat: repeat-x;
  background-position: 0;
  width: 72px;
}

/* пагинация */
.pagination {
  margin: 0;
  padding: 0;
  background-color: #ffffff;
}
.pagination-row {
  display: flex;
  gap: 8px;
  margin-top: 80px;
  margin-bottom: 40px;
  margin-left: 70px;
  width: 1060px;
}
.pagination-item {
  width: 60px;
  height: 60px;
  text-align: center;
  list-style: none;
}
.pagination-link {
  display: block;
  box-sizing: border-box;
  font-size: 20px;
  line-height: 36px;
  font-weight: 700;
  color: #ffffff;
  background-color: #82B3D3;
  border-radius: 4px;
  text-decoration: none;
  padding: 11px 23px;
}
.pagination-link:hover,
.pagination-link:focus  {
  background-color: rgba(104, 162, 202, 1);
  border: 1px solid rgba(130, 179, 211, 1);
}
.pagination-link:active {
  background-color: rgba(130, 179, 211, 1);
  color: rgba(255, 255, 255, 0.3)
}
.pagination-current {
  display: block;
  box-sizing: border-box;
  font-size: 20px;
  line-height: 36px;
  font-weight: 700;
  border-radius: 4px;
  color: #000000;
  background-color: #F2F2F2;
  text-decoration: none;
  padding: 11px 23px;
}
.main-subscribe {
  background-color: #ffffff;
  height: 415px;
  text-align: center;
}
.main-subscribe-caption {
  width: 404px;
  padding-top: 96px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
  font-size: 30px;
  line-height: 36px;
  color: #000000;
  text-transform: uppercase;
}
.main-subscribe-text {
  width: 475px;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 54px;
  font-size: 22px;
  line-height: 26px;
}
.subscribe-form {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.box {
  width: 452px;
  border: none;
  border-radius: 4px 0 0 4px;
  background-color: #F2F2F2;
}
.button-email-btn {
  width: 232px;
  padding: 8px 50px;
  border: none;
  border-radius: 0 4px 4px 0;
  font-size: 20px;
  line-height: 36px;
  text-transform: uppercase;
  background-color: #82B3D3;
  color: #ffffff;
}
